
$light: #fff;
$primary: #5F30E2;
$primary-light: #997aec;
$primary-dark: #080A45;
$grey: #F9F9FB;
$grey-dark: #ababab;

$background: #011D0D;
$shape-details: #ACE522;
$main-text: #FEFEFE;
$title: #ACE522;
$hover-bg: rgba(172, 229, 34, 0.3);
//$text-light: #b9e54b;

// Fonte
$font-sm: 12px;
$font-md: 14px;
$font-lg: 16px;
$font-xl: 18px;
$font-xxl: 25px;
$font-xxvl: 32px;
$font-xxxl: 48px;

//Espaçamento
$space-ssm: 0.3rem;
$space-sm: 0.5rem;
$space-md: 1rem;
$space-lg: 2rem;
$space-xl: 3rem;
$space-xxl: 4rem;

//Breakpoints
$mobile: 750px;
$tablet: 900px;
$medium-screen: 1200px;
