<div class="formulario">
  <form
    *ngIf="formulario"
    [formGroup]="formulario"
    class="formulario__internal"
  >
    <div>
      <label for="inputNome"> Nome: <span>*</span> </label>
      <input
        type="text"
        class="form-control"
        formControlName="nome"
        placeholder="Nome"
      />
      <ng-container *ngIf="formulario.controls['nome']?.invalid">
        <small *ngIf="formulario.controls['nome']?.touched">*Nome Obrigatório</small>
        <small *ngIf="formulario.controls['nome']?.dirty">*Campo Obrigatório</small>
      </ng-container>
    </div>

    <div>
      <label for="inputEmail"> Email: <span>*</span> </label>
      <input
        type="email"
        class="form-control"
        formControlName="email"
        placeholder="Email"
      />
      <ng-container *ngIf="formulario.controls['email']?.invalid">
        <small *ngIf="formulario.controls['email']?.touched">*Email Obrigatório</small>
        <small *ngIf="formulario.controls['email']?.dirty">*Campo Obrigatório</small>
      </ng-container>
    </div>

    <div>
      <label for="inputCPF" >CPF: <span>*</span> </label>
      <input
        type="text"
        class="form-control"
        formControlName="cpf"
        placeholder=" CPF"
        mask="000.000.000-00"
      />
      <ng-container *ngIf="formulario.controls['cpf']?.invalid">
        <small *ngIf="formulario.controls['cpf']?.touched">*CPF Obrigatório</small>
        <small *ngIf="formulario.controls['cpf']?.dirty">*Campo Obrigatório</small>
      </ng-container>
    </div>

    <div>
      <label for="inputDataNascimento"
        >Data de Nascimento: <span>*</span>
      </label>
      <input
        type="text"
        class="form-control"
        formControlName="dataNascimento"
        placeholder=" Data de nascimento"
        mask="00/00/0000"
      />
      <ng-container *ngIf="formulario.controls['dataNascimento']?.invalid">
        <small *ngIf="formulario.controls['dataNascimento']?.touched">
          *Data Nascimento Obrigatório
        </small>
        <small *ngIf="formulario.controls['dataNascimento']?.dirty">
          *Campo Obrigatório
        </small>
      </ng-container>
    </div>


    <div>
      <label for="inputTelefone"
        >Telefone: <span>*</span>
      </label>
      <input
        type="text"
        class="form-control"
        formControlName="telefone"
        placeholder=" Telefone"
        mask="(00) 0 0000-0000"
      />
      <ng-container *ngIf="formulario.controls['telefone']?.invalid">
        <small *ngIf="formulario.controls['telefone']?.touched">
          *Telefone Obrigatório
        </small>
        <small *ngIf="formulario.controls['telefone']?.dirty">*Campo Obrigatório</small>
      </ng-container>
    </div>


    <div>
      <button
        (click)="enviarFormulario()"
        [disabled]="!formulario.valid"
        [ngClass]="{ 'button-valid': formulario.valid }"
      >
        enviar
      </button>
    </div>
  </form>
</div>
