@use '../../theme/styles/variables' as var;


.formulario{
  padding: var.$space-xl;
  display: flex;
  justify-content: center;

  &__internal {
    width: 500px;
    height:auto;
    color: var.$title;
    border: 1px solid;

    div{
      margin-bottom: 10px;
      padding: 10px;
      display: flex;
      flex-direction: column;

      label{
        margin-right: 10px;

      }

      input{
        height: 36px;
      }

      .button-valid{
        height: 40px;
        width: 90px;
        background: var.$shape-details;
        color: var.$background;
        font-weight: bold;
        font-size: 1.1rem;
        cursor: pointer;
        &:hover{
          filter: brightness(0.7);
        }

      }

      small{
        color: #f03a3a;
        margin-top: 2px;
      }

      button{
        &:disabled{
          height: 40px;
          width: 90px;
          background: var.$shape-details;
          color: var.$background;
          font-weight: bold;
          font-size: 1.1rem;
          filter: brightness(0.4);
        }
      }

    }
  }


}
